* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
}

.controls-container {
    width: 100%;
    height: 70px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.main-container-left {
    width: 40px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 5px;
}

.main-container-left-middle {
    flex-grow: 1;
    overflow: hidden;
}

.main-container-left-middle ul {
    overflow: auto;
}

.main-container-left a, .main-container-left img {
    width: 100%;
    padding: 5px 0;
}

.profile-icon {
    background-color: grey;
}

.controls-container > div {
    display: flex;
    font-size: 13px;
    color: white;
}

.current-playing-song img {
    width: 30%;
    padding: 3px;
}

.current-playing-song, .volume-buttons {
    width: 30%;
    align-items: center;
}

.music-controls {
    width: 60%;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.music-controls > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-play-circle {
    font-size: 30px;
}

.music-controls-buttons {
    padding-bottom: 3px;
}

.progress-bar, .volume-bar {
    width: 100%;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(118, 118, 118);
    position: relative;
}

.progress-bar-overlay, .volume-bar-overlay {
    background-color: rgb(193, 193, 193);
    width: 40%;
    height: 100%;
}

.progress-bar-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(174, 174, 174);
    position: absolute;
    left: 35%;
    transform: translateY(-70%);
}

.current-playing-song-text, .current-playing-song-buttons, .volume-buttons > i {
    padding: 3px;
}

.current-playing-song-text span:first-child {
    font-size: 11px;
}

.current-playing-song-text span:last-child, .current-playing-song-buttons {
    color: rgb(118, 118, 118);
}

.current-playing-song-text span:last-child, .volume-buttons > i {
    font-size: 9px;
}

.main-container-right {
    width: calc(100% - 40px);
    height: calc(100vh - 70px);
    background-color: #141922;
}

.upgrade-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 10px;
    background-color: #21232A;
}

a {
    text-decoration: none;
    color: white;
}

.upgrade-section button {
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    background-color: #37393F;
    font-size: 12px;
}

.categories-section ul {
    list-style: none;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.categories-section ul li {
    padding: 0 7px;
}

.categories-section ul li:first-child {
    position: relative;
}

.categories-section ul li:first-child a::after {
    width: 20%;
    height: 3px;
    background-color: limegreen;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.categories-section ul li a {
    color: rgb(118, 118, 118);
    font-size: 10px;
}

.album-gallery-container {
    color: white;
    overflow: hidden;
}

.categories-section, .album-gallery-container {
    padding: 0 15px;
}

.album-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
}

.album-gallery-container-title {
    padding: 20px 0;
}

.album {
    width: calc(100% / 2 - 4px);
}

.albul-cover, .album-cover > img {
    width: 100%;
}

.album-title {
    padding: 10px 0;
    text-align: center;
}

.album-subtitle {
    font-size: 9px;
    color: rgb(118, 118, 118);
    text-align: center;
}

.playlist-header {
    color: white;
}

.playlist-header > h4 {
    padding: 30px 0 15px 0;
}

.playlist-header > div {
    padding-bottom: 20px;
}

.fa-plus {
    width: 35px;
    height: 35px;
    background-color: #A3A3A3;
    text-align: center;
    line-height: 35px;
}

.main-container-left a {
    color: rgb(118, 118, 118);
    font-weight: 600;
}

.main-container-left-bottom > div:last-child span, .nav-left-links > a:nth-child(2) span {
    color: white;
}

.playlist-header div span a {
    display: inline;
}



/************* Media queries *************/

@media screen and (max-width: 420px) {
    .display-xs-none {
        display: none;
    }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    .main-container-left {
        width: 300px;
        padding: 0 20px;
    }
    .main-container-left img {
        width: 15%;
    }
    .main-container-left a {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    .main-container-left span {
        padding: 0 10px;
    }
}